<main>
  <div class="header" [ngStyle]="{'padding-top': auth.stateFlag === true ? '5vh' : '35vh'}">
    <h2> {{title}} </h2>
    <p> Firebase Auth, Angular and Google Calendar API Test App </p>
  </div>

  <section class="user-info">
    <mat-card>
      <div class="login-btn__row">
        <button mat-button mat-stroked-button (click)="auth.login()" class="login-btn" color="primary">Login with Google</button>
        <span class="fill-remaining-space"></span>
        <button mat-button (click)="auth.logout()" color="warn" class="logout-btn">Logout</button>
      </div>
      
      <div *ngIf="auth.user$ | async as user" class="user-info__container">
        <hr>
        <p>Logged in as</p>
        
        <img [src]="user.photoURL" alt="">
        <h2 class="user-info__name">
          {{ user.displayName }} 
        </h2>
        <div class="get-calendar__container">
            <mat-divider></mat-divider>

          <div class="btn__container">
            <button mat-raised-button color="primary" (click)="auth.getCalendar()">Get Google Calendar</button>
          </div>
        </div>
      </div>
    </mat-card>
  </section>

  <div class="calendar"> 
  <button mat-button mat-fab (click)="auth.insertEvent()" class="add-btn__fab">
    <mat-icon aria-label="Add Event">add</mat-icon>
  </button>

  <section class="calendar-items__container">
    <div class="calendar-items__card" *ngFor="let item of auth.calendarItems">
      <mat-card>
        <h3>
          {{ item.summary }} - {{ item.status }}
        </h3>
        
        <p><em>
          Created {{ item.created }}
        </em></p>
        
        <p> {{ item.discription }} </p>
        <mat-divider></mat-divider>
      </mat-card>
    </div>
  </section>
</div>
</main>
<router-outlet></router-outlet>
